.container{
    margin-top: 5%;
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
}

.result{
    display: flex;
    justify-content: center;
    align-items:center
}